<div style="margin-top: 60px;" class="container text-center">
    <div class="row">
     
      <div id="spotlight-title" class="col">
        Spotlight On  <img src="../../assets/logo1.png">
      </div>
   
    </div>
   
    
  </div>

<div style="margin-left: 30%; margin-top: 5%;">

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/spotlight1.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">National Food Donation Summit</h5>
          <p class="card-text">Featured on the National Food Donation summit 2022! Received the award for most donated platform of 2022.</p>
          <p class="card-text"><small class="text-muted">Featured - 15/12/22</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/spotlight2.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Future India Magazine</h5>
          <p class="card-text">Featured on Future India Magazine, for donating 200 donations order in a single day!</p>
          <p class="card-text"><small class="text-muted">Featured - 05/06/22</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/spotlight3.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">India Today News</h5>
          <p class="card-text">Featured on India Today News channel for a 30 minutes news coverage!</p>
          <p class="card-text"><small class="text-muted">Featured - 15/01/23</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/spotlight4.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mega Food Donation Campaign</h5>
          <p class="card-text">Featured on Future India Magazine, for donating 200 donations order in a single day!</p>
          <p class="card-text"><small class="text-muted">Featured - 05/06/22</small></p>
        </div>
      </div>
    </div>
  </div>

  </div>